{% extends 'Loginregistration/base1.html' %}

{% block content %}
<h1 align="center"> LOG IN </h1>
<form action=""  method="post">
    {% csrf_token %}
     <div align="center">
    username <input type="text" id="id_username" name="username"  required ><br><br>
    password <input type="password" id="id_password" name="password" required ><br><br>

    <input type="submit"> <br><br>
    <li><a href="/api/forgotpassword"> forgot password</a></li>
    <li><a href="/api/registration"> sign up</a></li>
	<br>
    <p> --- OR Login with other sites ----- </p>

    <a href="{% url 'social:begin' 'github' %}">
		<button type='button' name="button" class="btn btn-primary">
			Github
		</button>
	</a>

	<a href="{% url 'social:begin' 'google-oauth2' %}">
		<button type='button' name="button" class="btn btn-danger">
			Google+
		</button>
	</a>

	<a href="{% url 'social:begin' 'facebook' %}">
		<button type='button' name="button" class="btn btn-primary">
			Facebook
		</button>
	</a>
	</div>
    </form>

{% endblock %}